In [3]:
import datetime
import pandas as pd
import numpy as np

In [4]:
data = pd.read_csv('GOOG.csv')
data.set_index('timestamp', inplace=True)
data.sort_index(inplace=True)
data.head()

                open      high       low     close   volume
timestamp
2014-01-02  555.6473  556.7880  552.0607  554.4817  3656400
2014-01-03  555.4182  556.3796  550.4020  550.4368  3345800
2014-01-06  554.4269  557.3409  551.1541  556.5739  3551800
2014-01-07  560.3995  567.7170  558.4866  567.3036  5124300
2014-01-08  570.8603  571.5178  564.5290  568.4842  4501700

In [53]:
date_list = [date.replace('-', ' ') for date in list(data.tail(7).index)]
close_list = list(data.tail(7)['close'].values)
close_list

[1187.83, 1209.0, 1207.6801, 1189.13, 1202.3101, 1208.67, 1215.45]

In [6]:
import datetime 
import calendar 
  
def findDay(date): 
    born = datetime.datetime.strptime(date, '%Y %m %d').weekday() 
    return (calendar.day_name[born]) 
  
# Driver program 
date = str(data.tail(1).index[0]).replace('-', ' ')
print(findDay(date))

Friday

In [7]:
labels = []
for i in date_list:
    labels.append(findDay(i))
    
labels

['Thursday', 'Friday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']

In [8]:
import joblib
model = joblib.load('lstm_presentation')

In [17]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler(feature_range=(0,1))

In [38]:
x_scaled = scaler.fit_transform(data.tail(60)['close'].values.reshape(-1, 1))

In [40]:
y_scaled = model.predict(x_scaled.reshape(1, 60, 1))
y_scaled

array([[0.66729975]], dtype=float32)

In [61]:
y = scaler.inverse_transform(y_scaled)[0][0].astype('float64')
y.dtype

dtype('float64')

In [56]:
close_list.append(y)

In [57]:
close_list

[1187.83, 1209.0, 1207.6801, 1189.13, 1202.3101, 1208.67, 1215.45, 1210.3828]